*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
/app/fdroid-v1/src/test/java/de/k3b/fdroid/v1/exampledata/index-v1.full.json
/app/fdroid-v1/src/test/java/de/k3b/fdroid/v1/exampledata/index-v1.jar
