*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
/app/data_v1ex/src/main/java/org/fdroid/demo/index-v1.full.json
/app/data_v1ex/src/main/java/org/fdroid/demo/index-v1.jar
